@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root{
    --cyan : hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    --d-blue: hsl(212, 21%, 14%);
    --d-grey: hsl(228, 12%, 48%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: var(--cream);
width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: var(--white);
    width: 600px;
    border-radius: 2%;  
    display: flex;
    align-items: flex-start;
    
}
.card > .left-card > .desktop{
    width: 300px;
    display: block;
    border-top-left-radius:2%;
    border-bottom-left-radius: 2%; 
}

.card > .left-card > .mobile{
  display: none;
}


.card > .right-card{
    padding-left: 2rem;
    padding-top: 1.5rem;
    line-height: 2rem;
    padding-right: 3rem;
}

.title{
    font-family: 'Montserrat';
    color: var(--d-grey);
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.main-title{
    font-family: "Fraunces";
    width: 200px;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.desc{
    font-family: 'Montserrat';
    font-size: 14px;
    color: var(--d-grey);
    line-height: 1.2rem;
    width: 230px;
}


.price{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.main-price{
    color: var(--cyan);
    font-family: "Fraunces";
}

.price del{
    color: var(--d-grey);
    font-family: 'Montserrat';
    margin-right: 2rem;
    font-size: 14px;

}

.card{
    display: flex;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row-reverse;
    background-color: var(--cyan);
    color: var(--white);
    padding: 0.5rem;
    width: 210px;
    border: none;
    border-radius: 10px;
    width: 220px;
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.cart > img{
    height: 20px;
    align-self: center;
}

.cart > p {
    font-size: 14px;
}

/* @media (max-width:620px)  {
    .card{
        width: 95%;
        min-width: 350px;
        height: 95%;
        flex-direction: column;
        max-width: 330px;
    }

    .card > .left-card > .mobile{
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      .card > .left-card > .desktop{
        display: none;
      }

      .card > .right-card{
        padding-top: 1rem;
        line-height: 1rem;

    }

    .title{
        letter-spacing: 5px;
        margin-bottom: 0.3rem;
    }
    
    .main-title{
        margin-bottom: 0.5rem;
        line-height: 2rem;
        font-size: 36px;
        width: 300px;
    }
    
    .price{
        margin-top: 1rem;
    }

    .price del{
        margin-right: 6.5rem;
    }

    .cart{
        margin-top: 1rem;
        padding: 0.7rem;
        width: 300px;
        margin-bottom: 2rem:;    }

}  */

@media only screen and (min-width: 375px) 
  and (max-width: 812px)  {
        .card{
            width: 90%;
            min-width: 350px;
            height: 99%;
            flex-direction: column;
            max-width: 330px;
        }
    
        .card > .left-card > .mobile{
            display: block;
            width: 100%;
            border-radius: 8px 8px 0 0;
          }
    
          .card > .left-card > .desktop{
            display: none;
          }
    
    
        .title{
            letter-spacing: 5px;
            margin-bottom: 0.2rem;
        }
        
        .main-title{
            margin-bottom: 0.3rem;
            line-height: 2.2rem;
            font-size: 36px;
            width: 300px;
        }
        
        .price{
            margin-top: 1rem;
        }
    
        .price del{
            margin-right: 6.5rem;
        }
    
        .cart{
            margin-top: 1rem;
            padding: 0.7rem;
            width: 300px;
            margin-bottom: 0.5rem;
        }
     }
